
@{
    ViewData["Title"] = " لیست محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<ProductAbstract>
<div class="row">
    <div class="col-md-12">
        <!-- Start .panel -->
        <div class="panel panel-card ">
            <div class="panel-heading">
                <h4 class="panel-title">  لیست محصولات</h4>
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
            </div>
            <div class="panel-body">
                <table id="basic-datatables" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th># </th>
                            <th>نام </th>
                            <th>کد</th>
                            <th>برند</th>
                            <th>دسته بندی</th>
                            <th>قیمت</th>
                            <th>تصویر</th>
                            <th>ویرایش</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th># </th>
                            <th>نام </th>
                            <th>کد</th>
                            <th>برند</th>
                            <th>دسته بندی</th>
                            <th>قیمت</th>
                            <th>تصویر</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.FirstOrDefault() != null)
                        {
                            int Counter = 1;
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Counter</td>
                                    <td>@item.Name</td>
                                    <td>@item.Name</td>
                                    <td>@item.Brand.Name</td>
                                    <td>@item.Category.Name</td>
                                    <td>@item.Name</td>
                                    <td>
                                        @if (item.ProductImage.FirstOrDefault() != null)
                                        {
                                            <img width="75" height="70" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.ProductImage.FirstOrDefault().ImageThumbnail)}")" />
                                        }
                                        else
                                        {
                                            <img width="75" height="70" src="~/AdminLayout/images/avtar-1.png" />
                                        }
                                    </td>
                                    @*<td>@CustomizeCalendar.GregorianToPersianDateTime(item.RegisteredDateTime)</td>

                                    *@
                                    <td>
                                        <a asp-action="EditProduct" asp-controller="Product" asp-area="Admin" asp-route-Id="@item.Id" class="btn btn-info btn-block">ویرایش</a>
                                    </td>
                                    <td>
                                        <a asp-action="DeleteProduct" asp-controller="Product" asp-area="Admin" asp-route-Id="@item.Id" class="btn btn-danger btn-block">حذف</a>
                                    </td>
                                </tr>
                                Counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- End .panel -->
    </div>
</div>
