
@{
    ViewData["Title"] = "لیست برند ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<Brand>
<div class="row">
    <div class="col-md-12">
        <!-- Start .panel -->
        <div class="panel panel-card ">
            <div class="panel-heading">
                <h4 class="panel-title">  لیست برند ها</h4>
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
            </div>
            <div class="panel-body">
                <table id="basic-datatables" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>نام</th>
                            <th>نام لاتین</th>
                            <th>توضیحات</th>
                            <th>وضعیت</th>
                            <th>ویرایش</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>نام</th>
                            <th>نام لاتین</th>
                            <th>توضیحات</th>
                            <th>وضعیت</th>
                            <th>ویرایش</th>
                            <th>حذف</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.FirstOrDefault() != null)
                        {
                            int Counter = 1;
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Counter</td>
                                    <td>@item.Name</td>
                                    <td>@item.LatinName</td>
                                    <td>@item.Description</td>
                                    <td>@(item.Status == true ? "فعال" : "غیرفعال")</td>
                                    <td>
                                        <a asp-action="EditBrand" asp-controller="Product" asp-route-Id="@item.Id" class="btn btn-info btn-block">ویرایش</a>
                                    </td>
                                    <td>
                                        <a asp-action="DeleteBrand" asp-controller="Product" asp-route-Id="@item.Id" class="btn btn-danger btn-block">حذف</a>
                                    </td>
                                </tr>
                                Counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- End .panel -->
    </div>
</div>


