
@{
    ViewData["Title"] = " لیست محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<ProductAbstract>
<div class="row">
    <div class="col-md-12">
        <!-- Start .panel -->
        <div class="panel panel-card ">
            <div class="panel-heading">
                <h4 class="panel-title">  لیست محصولات</h4>
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
            </div>
            <div class="panel-body">
                <table id="basic-datatables" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th># </th>
                            <th>نام </th>
                            <th>کد</th>
                            <th>برند</th>
                            <th>دسته بندی</th>
                            <th>قیمت</th>
                            <th>تصویر</th>
                            <th>ویرایش</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th># </th>
                            <th>نام </th>
                            <th>کد</th>
                            <th>برند</th>
                            <th>دسته بندی</th>
                            <th>قیمت</th>
                            <th>تصویر</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.FirstOrDefault() != null)
                        {
                            int Counter = 1;
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Counter</td>
                                    <td>@item.Name</td>
                                    <td>@item.ProductFeature.Where(x => x.ProductAbstractId == item.Id).FirstOrDefault().ProductCode</td>
                                    <td>@item.Brand.Name</td>
                                    <td>@item.Category.Name</td>
                                    <td>@((int)item.BasePrice)</td>
                                    <td>
                                        @if (item.ProductImage.FirstOrDefault() != null)
                                        {
                                            var imgPath = item.ProductImage.FirstOrDefault().ImageThumbnailPath;
                                            if (imgPath != null)
                                            {
                                                <img width="75" height="70" src="@(imgPath.Replace("wwwroot", "")) " />
                                            }
                                            else
                                            {
                                                <img width="75" height="70" src="~/images/box.png" />
                                            }
                                        }
                                        else
                                        {
                                            <img width="75" height="70" src="~/images/box.png" />
                                        }
                                    </td>
                                    @*<td>@CustomizeCalendar.GregorianToPersianDateTime(item.RegisteredDateTime)</td>

                                    *@
                                    <td>
                                        <a asp-action="EditProduct" asp-controller="Product" asp-area="Admin" asp-route-Id="@item.Id" class="btn btn-info btn-block">ویرایش</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-block" id="btnDelete" dataId="@item.Id">حذف</a>
                                    </td>
                                </tr>
                                Counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- End .panel -->
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $('.panel-body').on('click', "#btnDelete", function () {
        var dataId = $(this).attr("dataId");
        var thisElement = $(this);
        swal({
            title: "آیا از حذف این آیتم اطمینان دارید؟",
            text: "پس از تایید، بازیابی این آیتم امکان پذیر نمی باشد.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "بله، حذف شود",
            cancelButtonText: "خیر، منصرف شدم",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.post("/Admin/Product/DeleteProduct", { Id: dataId }, function (value) {
                    var result = JSON.parse(value)
                    if (result['Status'] == true) {
                        swal("حذف گردید!", result['Text'], "success");
                        thisElement.parent().parent().fadeOut();
                    } else {
                        swal("حذف ناموفق", result['Text'], "warning");
                    }
                }, 'json')

            } else {
                swal("انصراف از حذف", "این آیتم همچنان در لیست شما باقی می ماند :)", "error");
            }
        });
    })

</script>