
@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var userManagerCount=   ViewData[" userManagerCount"];
   var ProductFeatureCount = ViewData[" ProductFeatureCount"];
    var CategoryCount = ViewData[" CategoryCount"];
    var ContactUsCount = ViewData[" ContactUsCount"];
    var ArticleCount = ViewData[" ArticleCount"];
}

<div class="row">
    <div class="col-lg-4">
        <div class="widget-box clearfix">
            <div class="pull-left">
                <a asp-area="Admin" asp-controller="Product" asp-action="ShowProduct">
                    <h1> <i class="fa fa-list"></i></h1>
                </a>
            </div>
            <div class="text-right">
                <h4>لیست محصولات</h4>
                <h2>@ProductFeatureCount</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget-box clearfix">
            <div class="pull-left">
                <a asp-area="Admin" asp-controller="Account" asp-action="UserList">
                    <h1> <i class="fa fa-user"></i></h1>
                </a>
            </div>
            <div class="text-right">
                <h4>لیست کاربران</h4>
                <h2>@userManagerCount</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget-box clearfix">
            <div class="pull-left">
                <a asp-area="Admin" asp-controller="PurchaseCart" asp-action="ShowPurchaseCart">
                    <h1> <i class="fa fa-shopping-cart"></i></h1>
                </a>
            </div>
            <div class="text-right">
                <h4>لیست سفارشات</h4>
                <h2>0</h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="widget-box clearfix">
            <div class="pull-left">
                <a asp-area="Admin" asp-controller="Tools" asp-action="ShowComment">
                    <h1> <i class="fa fa-envelope"></i></h1>
                </a>
            </div>
            <div class="text-right">
                <h4>پیام های ارتباط با ما</h4>
                <h2>@ContactUsCount</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget-box clearfix">
            <div class="pull-left">
                <a asp-area="Admin" asp-controller="Product" asp-action="ShowCategory">
                    <h1> <i class="fa fa-th"></i></h1>
                </a>
            </div>
            <div class="text-right">
                <h4>دسته بندی ها</h4>
                <h2>@CategoryCount</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget-box clearfix">
            <div class="pull-left">
                <a asp-area="Admin" asp-controller="Blog" asp-action="ShowPost">
                    <h1> <i class="fa fa-file-text"></i></h1>
                </a>
            </div>
            <div class="text-right">
                <h4>مقالات</h4>
                <h2>@ArticleCount</h2>
            </div>
        </div>
    </div>
</div>
<div class="hr-line-dashed"></div>





<div class="row">
    <div class="col-sm-8">

    </div>
    <div class="col-sm-4">
        
       
    </div>
</div>
