
@{
    ViewData["Title"] = "نمایش بنر ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model List<Banner>
<div class="row">
    <div class="col-md-12">
        <!-- Start .panel -->
        <div class="panel panel-card ">
            <div class="panel-heading">
                <h4 class="panel-title">  لیست بنرها</h4>
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
            </div>
            <div class="panel-body">
                <table id="basic-datatables" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>عنوان</th>
                            <th>عکس</th>
                            <th>لینک</th>
                            <th>دکمه</th>
                            <th>لینک دکمه</th>
                            <th>ویرایش</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>عنوان</th>
                            <th>عکس</th>
                            <th>لینک</th>
                            <th>دکمه</th>
                            <th>لینک دکمه</th>
                            <th>ویرایش</th>>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.FirstOrDefault() != null)
                        {
                            int Counter = 1;
                            @foreach (var item in Model)
                            {
                        <tr>
                            <td>@Counter</td>
                            <td>@item.Title</td>
                            <td>
                                @if (item.Image != null)
                                {
                                    <img id="img1" width="330" height="230" alt="" src=@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Image)}")>
                                }
                                else
                                {
                                    <img id="img1" src="~/images/box.png" class="img-thumbnail" width="150" />
                                }

                            </td>
                            <td>@item.Link</td>
                            <td>@item.ButtonContent</td>
                            <td>@item.ButtonLink</td>
                            <td>
                                <a asp-action="EditBanner" asp-controller="Home" asp-route-Id="@item.Id" class="btn btn-info btn-block">ویرایش</a>
                            </td>

                        </tr>
                                Counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- End .panel -->
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

