
@{
    Layout = null;
}

@inject OnlineMarketContext _db;
@{ 
    var sliders = _db.TopSlider.Where(x => x.Status && x.SetForFuture == false).OrderBy(x=> x.Priotity).ToList();
    var additionalSliders = _db.TopSlider.Where(
        x =>
            x.Status == true &&
            (x.ShowDateTime.Value.Year >= DateTime.Now.Year && x.ShowDateTime.Value.Month >= DateTime.Now.Month && x.ShowDateTime.Value.Day >= DateTime.Now.Day) &&
            (x.ExpireDateTime.Value.Year <= DateTime.Now.Year && x.ExpireDateTime.Value.Month <= DateTime.Now.Month && x.ExpireDateTime.Value.Day <= DateTime.Now.Day)
        ).ToList();
    if (additionalSliders.Count > 0)
    {
        sliders.AddRange(additionalSliders);
    }
}
<!--slider section start-->
<div class="hero-section section position-relative">
    <div class="hero-slider section">

        <!--Hero Item start-->
        @if (sliders.Count > 0)
        {
            foreach (var item in sliders)
            {
                if (item.ImagePath != null)
                {
                    <div class="hero-item large-height bg-image" data-bg="@item.ImagePath.Replace("wwwroot","").Replace("\\","/")">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">

                                    <!--Hero Content start-->
                                    <div class="hero-content-2 margin-top center">

                                        <h2>@item.Title <br> @item.Summery</h2>
                                        @if (item.HasButton)
                                        {
                                            <a href="shop.html" class="btn" title="@item.AltName">@item.ButtonContent</a>
                                        }

                                    </div>
                                    <!--Hero Content end-->

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        <!--Hero Item end-->
        
    </div>
</div>
<!--slider section end-->
