
@{
    var dbArticle = ViewData["Article"] as List<Article>;
    var dbCategory = ViewData["Category"] as List<Category>;
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!-- Single Sidebar Start  -->
<div dir="rtl">
    <div class="common-sidebar-widget">
        <h3 class="sidebar-title text-right">آخرین پست ها</h3>
        @if (dbArticle != null)
        {
            @for (int i = 0; i < dbArticle.Count; i++)
            {
                <div class="sidebar-blog rtl-class">
                    <div class="content">
                        <h5>
                            <a asp-controller="Blog" asp-action="ShowArticle" asp-route-Id="@dbArticle[i].Id">
                                @dbArticle[i].Title
                            </a>
                        </h5>
                        <h6 >تاریخ 1398/07/15</h6>
                    </div>
                    <a asp-controller="Blog" asp-action="ShowArticle" asp-route-Id="@dbArticle[i].Id" class="image">
                        <img src=@($"data:image/jpeg;base64,{Convert.ToBase64String(dbArticle[i].MainImage)}") alt="">
                    </a>
                </div>

            }
        }

    </div>
    <!-- Single Sidebar End  -->
    <!-- Single Sidebar Start  -->
    @*<div class="common-sidebar-widget text-right">
            <h3 class="sidebar-title "> آخرین نظرات</h3>
            <div class="sidebar-blog">
                <div class="content">
                    <p>فاطمه:</p>
                    <a href="#">سایت خوبی است</a>
                </div>
            </div>
        </div>*@
    <!-- Single Sidebar End  -->
    <!-- Single Sidebar Start  -->
    <div class="common-sidebar-widget text-right">
        <h3 class="sidebar-title">دسته بندی ها</h3>
        <ul class="sidebar-list">
            @foreach (var item in dbCategory)
            {
                <li><a href="#"><i class="ion-plus"></i>@item.Name <span class="count"></span></a></li>
            }
        </ul>
    </div>
    <!-- Single Sidebar End  -->
    @*<div class="common-sidebar-widget text-right">
            <h3 class="sidebar-title bb-0">تگ ها</h3>
            @foreach (var item in dbCategory)
            {
                <ul class="sidebar-tag">
                    <li><a href="#">@item.Name</a></li>
                </ul>
            }
        </div>*@
</div>