
@{
    ViewData["Title"] = Model.Title;
    var dbArticle = ViewData["Article"] as List<Article>;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model Article
<!--Blog section start-->
<div class="blog-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-40 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-2 order-2">
                <!-- Single Sidebar Start  -->
                @*<div class="common-sidebar-widget">
                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-search">
                            <form action="#">
                                <input type="text" placeholder="Search">
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>*@
                <!-- Single Sidebar End  -->
                @await Html.PartialAsync("~/Views/Blog/_PartialSidebar.cshtml", dbArticle)
                <!-- Single Sidebar End  -->
            </div>
            <div class="col-lg-9 order-lg-1 order-1" ">
                <div class="row">
                    <div class="blog-details col-12">
                        <div class="blog-inner">
                            <div class="blog-media">
                                <div class="image">
                                    @if (
Model.MainImage != null)
                                    {
                                        <img width="500" height="400" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.MainImage)}")" />
                                    }
                                    else
                                    {
                                        <img width="75" height="70" src="~/AdminLayout/images/avtar-1.png" />
                                    }
                                </div>
                            </div>
                            <div class="content">
                                <ul class="meta">
                                    <li class="farsi-num">@CustomizeCalendar.GregorianToPersian(Model.WrittenDateTime)</li>

                                </ul>
                                <h2 class="title text-right">@Model.Title</h2>
                                <div class="desc mb-30" dir="rtl">
                                    <div class="content text-justify">
                                        <p>@Model.ContentHtml</p>
                                    </div>
                                </div>
                                <ul class="tags">
                                    <li><i class="fa fa-tags"></i></li>
                                    <li><a href="#">درب ضد سرقت</a></li>
                                    <li><a href="#">درب ساختمان</a></li>
                                    <li><a href="#">درب شیراز</a></li>
                                </ul>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="col-12 mt-60 mt-sm-30 mt-xs-20 ">
                        <!-- Start Comment -->
                        @{var Comments = Model.UserArticleReview.Where(e => e.Approved == true).ToList(); }
                        @if (Comments != null)
                        {
                            <div class="comments-wrapper">
                                <div class="inner">
                                    <h3 class="text-right">نظرات</h3>
                                    <div class="commnent-list-wrap mt-25">
                                        @foreach (var item in Comments)
                                        {
                                            <!-- Start Single Comment -->
                                            <div class="comment rtl-class">
                                                <div class="content">
                                                    <div class="info d-flex justify-content-between">
                                                        @*<span class="reply-btn"><a href="#">پاسخ</a></span>*@
                                                        <h4 class="mb-0">@item.FakeUserName</h4>
                                                    </div>
                                                    <div class="comment-footer mt-5 text-right">
                                                        <ul class="meta">

                                                            <li class="farsi-num" style="opacity:0.5">  تاریخ ثبت نظر: @CustomizeCalendar.GregorianToPersian(item.RegDateTime.Value)</li>
                                                        </ul>
                                                    </div>
                                                    <div class="text mt-5 pr-50 pr-sm-5 text-right">
                                                        <p class="bk_pra">
                                                            @item.Comment
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Single Comment -->
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- End Comment -->
                        <hr />
                    </div>
                    <div id="divMain" class="col-12 mt-60 mt-sm-30 mt-xs-20">
                        <div id="divComment" class="comment-wrapper text-right">
                            <h3>نظر بدهید</h3>
                            <div class="comment-form">
                                <form id="form1" method="get" action="\Blog\InsertArticleComment">
                                    <div class="row row-10" dir="rtl">
                                        <input name="artileId" id="artileId" hidden="hidden" value="@Model.Id">
                                        <div class="form-group col-md-6 col-12 mb-20">
                                            <input class="form-control" id="Name" name="name" type="text" placeholder="نام" required>
                                        </div>
                                        <div class="form-group col-md-6 col-12 mb-20">
                                            <input class="form-control" id="Email" name="email" type="text" placeholder="ایمیل">
                                        </div>
                                        <div class="form-group col-12 mb-20">
                                            <textarea class="form-control" id="comment" name="comment" type="text" placeholder="نظر" required></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn" id="btnSubmitForm">ارسال نظر</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="divResponse" style="display: none" class="col-12 mt-20 mt-sm-20 mt-xs-20">
                        <div class="comment-wrapper rtl-class">
                            <h4>نظر شما ثبت شد و پس از تایید نمایش داده می شود</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Blog section end-->
<script src="~/shared/main/assets/js/vendor/jquery-1.12.4.min.js"></script>

<script>
    $(form1).submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var url = form.attr('action');

        $.ajax({
            type: "post",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                if (data.status) {
                    $(divComment).fadeOut();
                    $(divResponse).show('slow');
                    setTimeout(function () { $(divResponse).fadeOut(); }, 3000);
                }
            }
        });
    });
</script>