
@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    TempData["firstpage"] = true;
    var latestProducts = ViewData["LatestProducts"] as List<ProductAbstract>;
    var LatestArticle = ViewData["LatestArticle"] as List<Article>;
}
@* ------------ Slider ------------- *@
@await Html.PartialAsync("~/Views/Shared/Header/_PartialSlider.cshtml")

<!-- Banner section start -->
<div class="banner-section section pt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <!-- Single Banner Start -->
                <div class="single-banner-item mb-30">
                    <div class="banner-image">
                        <a asp-controller="product" asp-action="search">
                            <img src="~/temp_images/banner/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="banner-content tr-right">
                        <h3 class="title">درب های با طراحی <br>خلاقانه </h3>
                        <a asp-controller="product" asp-action="search">بیشتر</a>
                    </div>
                </div>
                <!-- Single Banner End -->
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <!-- Single Banner Start -->
                <div class="single-banner-item mb-30">
                    <div class="banner-image">
                        <a asp-controller="product" asp-action="search">
                            <img src="~/temp_images/banner/5.jpg" alt="">
                        </a>
                    </div>
                    <div class="banner-content tr-right">
                        <h3 class="title"> بهترین<br>  درب های ضد سرقت </h3>
                        <a asp-controller="product" asp-action="search">خرید کنید</a>
                    </div>
                </div>
                <!-- Single Banner End -->
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <!-- Single Banner Start -->
                <div class="single-banner-item mb-30">
                    <div class="banner-image">
                        <a asp-controller="product" asp-action="search">
                            <img src="~/temp_images/banner/6.jpg" alt="">
                        </a>
                    </div>
                    <div class="banner-content tl-left color-white">
                        <h3 class="title">به روز ترین <br>  درب های ساختمانی</h3>
                        <a asp-controller="product" asp-action="search">بیشتر</a>
                    </div>
                </div>
                <!-- Single Banner End -->
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <!-- Single Banner Start -->
                <div class="single-banner-item mb-30">
                    <div class="banner-image">
                        <a asp-controller="product" asp-action="search">
                            <img src="~/temp_images/banner/8.jpg" alt="">
                        </a>
                    </div>
                    <div class="banner-content tl-left">
                        <h3 class="title"> تنوع<br> در انواع طرح ها</h3>
                        <a asp-controller="product" asp-action="search">جزییات</a>
                    </div>
                </div>
                <!-- Single Banner End -->
            </div>
        </div>
    </div>
</div>
<!-- Banner section End -->
<!--Product section start-->
<div class="product-section section pt-70 pt-lg-50 pt-md-40 pt-sm-30 pt-xs-20 pb-55 pb-lg-35 pb-md-25 pb-sm-15 pb-xs-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title text-center mb-15">
                    <h2>جدیدترین محصولات</h2>
                </div>
                @*<div class="product-tab mb-50 mb-sm-30 mb-xs-20">
                        <ul class="nav">
                            <li><a class="active show" data-toggle="tab" href="#home">خانه</a></li>
                            <li><a data-toggle="tab" href="#office">دفتر کار</a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
        <div class="tab-content">
            <div id="home" class="tab-pane fade active show">
                <div class="row">
                    @if (latestProducts.Count > 0)
                    {
                        @foreach (var item in latestProducts)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <div class="product-label">
                                            @*<span class="farsi-num">20%</span>*@
                                        </div>
                                        <a href="/Product/@item.Id/@Tools.LinkCorrection(item.Name)">
                                            @try
                                            {
                                                if (item.ProductImage.Count > 0)
                                                {
                                                    var mainImage = item.ProductImage.Where(x => x.IsMainImage == true && x.Status == true).FirstOrDefault();
                                                    if (mainImage != null)
                                                    {
                                                        <img src="@mainImage.ImagePath.Replace("wwwroot","")" class="img-fluid" alt="@item.Name">
                                                    }
                                                }
                                            }
                                            catch (Exception ex)
                                            {
                                                throw ex;
                                            }
                                            @try
                                            {
                                                if (item.ProductImage.Count > 0)
                                                {
                                                    var OneOfTheRestImages = item.ProductImage.Where(x => x.Status == true && x.IsMainImage == false).FirstOrDefault();
                                                    if (OneOfTheRestImages != null)
                                                    {
                                                        <img src="@OneOfTheRestImages.ImagePath.Replace("wwwroot","")" class="img-fluid" alt="@item.Name">
                                                    }
                                                }
                                            }
                                            catch (Exception)
                                            {
                                                //throw ex;
                                            }
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li>
                                                    <a asp-controller="Invoice" asp-action="AddToCart"
                                                       asp-route-productFeatureId="@item.ProductFeature.Where(x => x.ProductAbstractId == item.Id).FirstOrDefault().Id"
                                                       title="اضافه به سبد خرید"><i class="fa fa-cart-plus"></i></a>
                                                </li>
                                                <li><a href="/Product/@item.Id/@Tools.LinkCorrection(item.Name)" data-toggle="modal" id="btnQuick" data-Id="@item.Id" title="مشاهده سریع"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="#" title="افزودن به علاقه مندی ها"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">@($"{item.Name} - {item.Category.Name}")</a></h3>
                                        <p class="product-price">
                                            @*      <span class="discounted-price farsi-num">@((int)item.BasePrice) تومان</span>*@
                                            @*<span class="main-price discounted farsi-num">2100000</span>*@
                                        </p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>
                        }
                    }
                </div>
            </div>

        </div>


    </div>
</div>
<!--Product section end-->
<!--Features section start-->
<div class="features-section section pt-30 pt-lg-15 pt-md-0 pt-sm-0 pt-xs-15">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <!-- Single Feature Start -->
                <div class="single-feature mb-30">
                    <div class="feature-image">
                        <img src="~/shared/main/assets/images/icons/feature-1.png" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content rtl-class">
                        <h4 class="title">خدمات حمل و نصب </h4>
                        <p class="short-desc farsi-num">حمل و نصب انواع محصولات مطابق با سفارش مشتریان محترم </p>
                    </div>
                </div>
                <!-- Single Feature End -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Single Feature Start -->
                <div class="single-feature mb-30">
                    <div class="feature-image">
                        <img src="~/shared/main/assets/images/icons/feature-2.png" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content rtl-class">
                        <h4 class="title">تضمین کیفیت</h4>
                        <p class="short-desc">تضمین استفاده از مرغوبترین چوب ها و مواد اولیه </p>
                    </div>
                </div>
                <!-- Single Feature End -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Single Feature Start -->
                <div class="single-feature mb-30">
                    <div class="feature-image">
                        <img src="~/shared/main/assets/images/icons/feature-3.png" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content rtl-class">
                        <h4 class="title">خدمات پس از فروش</h4>
                        <p class="short-desc">
                            پشتیبانی فنی،راه اندازی و تعمیر و تعویض محصولات
                        </p>
                    </div>
                </div>
                <!-- Single Feature End -->
            </div>

        </div>
    </div>
</div>
<!--Features section end-->

@await Html.PartialAsync("~/Views/Home/_PartialBlogSection.cshtml",model: LatestArticle)

<!-- Modal Area Strat -->
<div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- partial goes here -->
            </div>
        </div>

    </div>
</div>
<!-- Modal Area End -->

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $("a#btnQuick").click(function () {
            $.post("/Home/GetPartialProduct", { Id: $(this).data("id") }, function (value) {
                $(".modal-body").html(value);
            });

        })
    })
</script>
