@{
    var nvm = ViewData["nvm"] as NotificationViewModel;
}
@inject UserManager<ApplicationUser> _userManager
@inject OnlineMarketContext _db;
@{ApplicationUser user = null; }
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>مدیریت - @ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link href="~/AdminLayout/bootstrap-rtl-master/dist/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/AdminLayout/css/waves.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="~/AdminLayout/css/nanoscroller.css">
    <link href="~/AdminLayout/css/morris-0.4.3.min.css" rel="stylesheet">
    <link href="~/AdminLayout/css/menu-light.css" type="text/css" rel="stylesheet">
    <link href="~/AdminLayout/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/AdminLayout/css/style.css" type="text/css" rel="stylesheet">

    <!-- toast CSS -->
    <link href="~/AdminLayout/jquery-toast-plugin-master/src/jquery.toast.css" rel="stylesheet">

    <link href="~/AdminLayout/customize.css" rel="stylesheet" />
    <link href="~/AdminLayout/jquery-growl/stylesheets/jquery.growl.css" rel="stylesheet" />
    <link href="~/AdminLayout/jquery-growl/stylesheets/sample.css" rel="stylesheet" />

    <!--alerts CSS -->
    <link href="~/AdminLayout/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">

    <!-- Persian date picker -->
    <link href="~/persian_datepicker/css/persianDatepicker-default.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="font-family:FontShabnam">
    <!-- Static navbar -->
    <nav class="navbar navbar-default yamm navbar-fixed-top">
        <div class="container-fluid">
            <button type="button" class="navbar-minimalize minimalize-styl-2  pull-left "><i class="fa fa-bars"></i></button>
            <!--Search Start-->
            @*<span class="search-icon"><i class="fa fa-search"></i></span>
                <div class="search" style="display: none;">
                        <form role="form">
                            <input type="text" class="form-control" autocomplete="off" placeholder="عبارتی را بنویسید و دکمه اینتر را فشار دهید">
                            <span class="search-close"><i class="fa fa-times"></i></span>
                        </form>
                    </div>*@
            <!--Search End-->
            @* نوار منو بالا *@
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">پنل مدیریت وب سایت</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right navbar-top-drops">
                    <li>
                        <a asp-area="Admin" asp-controller="Account" asp-action="signout"><i class="fa fa-sign-out"></i></a>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    user = await _userManager.FindByNameAsync(User.Identity.Name);
                    if (user != null)
                    {

                        var fullname = $"{user.FirstName} {user.LastName}";
                        <div class="username-holder">
                            <span>@fullname</span>
                            <span>
                                <small>@user.UserName</small>
                            </span>
                        </div>
                    }
                }
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    @* منوی سمت راست *@
    <section class="page">

        <nav class="navbar-aside navbar-static-side" role="navigation">
            <div class="sidebar-collapse nano">
                <div class="nano-content">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown side-profile text-left">
                                <span style="display: block;">
                                    @{
                                        var currentUser = await _userManager.FindByNameAsync(User.Identity.Name);
                                        var currentUserImage = _db.UserImage.Where(x => x.UserId == currentUser.Id && x.Status == true).LastOrDefault();
                                        if (currentUserImage != null)
                                        {
                                            if (currentUserImage.ImageThumbnail != null)
                                            {
                                                <img width="40" alt="image" class="img-circle" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(currentUserImage.ImageThumbnail)}")" />
                                            }
                                        }
                                        else
                                        {
                                            <img width="40" alt="image" class="img-circle" src="~/images/user-profile.png" />
                                        }
                                    }


                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear" style="display: block;">
                                        <span class="block m-t-xs">
                                            @{
                                                var currentUserRoles = await _userManager.GetRolesAsync(currentUser);
                                                var thisUserRoleName = currentUserRoles.FirstOrDefault();
                                            }
                                            <strong class="font-bold">@(thisUserRoleName.ToLower() == "admin" ? "مدیر" : "کاربر") وب سایت  <b class="caret"></b></strong>
                                        </span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li>
                                        <a asp-action="EditUser" asp-controller="Account" asp-area="Admin" asp-route-UserId=@user.Id>
                                            <i class="fa fa-user">
                                            </i>پروفایل کاربری
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="SendEmail" asp-controller="Tools" asp-area="Admin">
                                            <i class="fa fa-envelope"></i>ارسال ایمیل
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a asp-action="Signout" asp-controller="Account" asp-area="Admin"><i class="fa fa-key"></i>خروج</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">پنل اصلی </span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">پنل اصلی </a></li>
                            </ul>
                        </li>
                        <!--محصولات-شروع-->
                        <li>
                            <a href="#"><i class="fa fa-edit"></i> <span class="nav-label"> جزییات محصولات </span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="ShowCategory">دسته بندی ها</a></li>
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="InsertCategory">افزودن دسته بندی</a></li>
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="ShowBrand">برند ها</a></li>
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="InsertBrand">افزودن برند</a></li>
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="ShowFeature">ویژگی ها</a></li>
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="InsertFeature">افزودن ویژگی</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-archive"></i> <span class="nav-label"> محصولات </span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="ShowProduct">لیست محصولات </a></li>
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="InsertProduct">افزودن محصول </a></li>
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="ShowProductFeature">ویژگی محصولات </a></li>
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="UpdateProductInfo">ویرایش قیمت و موجودی</a></li>

                            </ul>
                        </li>
                        <!--محصولات-پایان-->
                        <!-- تنظیمات کاربری -->
                        <li>
                            <a href="#"><i class="fa fa-users"></i> <span class="nav-label">کاربران</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li><a asp-action="Signup" asp-controller="Account" asp-area="Admin">ثبت کاربر جدید</a></li>
                                <li><a asp-action="UserList" asp-controller="Account" asp-area="Admin">لیست کاربران</a></li>
                                <li><a asp-action="FindUser" asp-controller="Account" asp-area="Admin">جستجوی کاربر</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pencil"></i> <span class="nav-label">وبلاگ</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a asp-area="Admin" asp-controller="Blog" asp-action="InsertPost">پست جدید</a></li>
                                <li><a asp-area="Admin" asp-controller="Blog" asp-action="ShowPost">مدیریت پست ها </a></li>
                                <li><a asp-area="Admin" asp-controller="Blog" asp-action="ShowComment">مدیریت نظرات </a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">سفارشات</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a asp-area="Admin" asp-controller="Invoice" asp-action="ShowPaidPurchuseCart">سفارشات پرداخت شده</a></li>
                                <li><a asp-area="Admin" asp-controller="Invoice" asp-action="ShowNotPaidPurchuseCart">سفارشات پرداخت نشده</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">گالری</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a asp-area="Admin" asp-controller="Gallery" asp-action="InsertSubject">اضافه کردن موضوع</a></li>
                                <li><a asp-area="Admin" asp-controller="Gallery" asp-action="ShowSubject">لیست موضوعات</a></li>
                                <li><a asp-area="Admin" asp-controller="Gallery" asp-action="InsertPhoto">افزودن عکس</a></li>
                                <li><a asp-area="Admin" asp-controller="Gallery" asp-action="ShowPhoto">لیست عکس ها</a></li>
                                <hr />
                                <li><a asp-area="Admin" asp-controller="Gallery" asp-action="InsertSliderImage">افزودن اسلایدر</a></li>
                                <li><a asp-area="Admin" asp-controller="Gallery" asp-action="ShowSliders">لیست اسلایدرها</a></li>
                                <li><a asp-area="Admin" asp-controller="Gallery" asp-action="InsertScreenResolution">رزولوشن صفحه نمایش</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">پیام ها</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a asp-area="Admin" asp-controller="Tools" asp-action="SendEmail">ارسال ایمیل</a></li>
                                <li><a asp-area="Admin" asp-controller="Tools" asp-action="ShowComment">ارتباط با ما</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">تنظیمات</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a asp-area="Admin" asp-controller="Home" asp-action="About">صفحه درباره ما</a></li>
                                <li><a asp-area="Admin" asp-controller="Blog" asp-action="InsertPost">متن صفحه اول</a></li>
                                <li><a asp-area="Admin" asp-controller="Blog" asp-action="InsertPost">متن نوار پایین</a></li>
                                <li><a asp-area="Admin" asp-controller="Tools" asp-action="Setting">تنظیمات ادمین</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div id="wrapper">
            <div class="content-wrapper container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title">
                            <h1>پنل مدیریت <small></small></h1>
                            <ol class="breadcrumb">
                                <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
                                <li class="active"> @ViewData["Title"]</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- end .page title-->
                @RenderBody()
            </div>
        </div>
    </section>
    <!--Start-Tempdata-->
    @if (TempData["InsertConfirm"] != null)
    {
        <div>
            <div class="modal fade" id="modalMessage">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title">پیغام:</h5>
                        </div>
                        <div class="modal-body">
                            <p>@TempData["InsertConfirm"]</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">بستن پنجره</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .modal {
                position: absolute;
                top: 50%;
                margin-left: -150px;
                margin-top: -150px;
            }
        </style>
    }

    <!--End-Tempdata-->
    <script type="text/javascript" src="~/AdminLayout/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/AdminLayout/bootstrap-rtl-master/dist/js/bootstrap-rtl.min.js"></script>
    <script src="~/AdminLayout/js/metisMenu.min.js"></script>
    <script src="~/AdminLayout/js/jquery.nanoscroller.min.js"></script>
    <script src="~/AdminLayout/js/jquery-jvectormap-1.2.2.min.js"></script>
    <!-- Flot -->
    <script src="~/AdminLayout/js/flot/jquery.flot.js"></script>
    <script src="~/AdminLayout/js/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/AdminLayout/js/flot/jquery.flot.resize.js"></script>
    <script src="~/AdminLayout/js/flot/jquery.flot.pie.js"></script>
    <script src="~/AdminLayout/js/chartjs/Chart.min.js"></script>
    <script src="~/AdminLayout/js/pace.min.js"></script>

    <!-- Table -->
    <script src="~/AdminLayout/js/data-tables/jquery.dataTables.js"></script>
    <script src="~/AdminLayout/js/data-tables/dataTables.tableTools.js"></script>
    <script src="~/AdminLayout/js/data-tables/dataTables.bootstrap.js"></script>
    <script src="~/AdminLayout/js/data-tables/dataTables.responsive.js"></script>
    <script src="~/AdminLayout/js/data-tables/tables-data.js"></script>

    <script src="~/AdminLayout/js/waves.min.js"></script>
    <script src="~/AdminLayout/js/morris_chart/raphael-2.1.0.min.js"></script>
    <script src="~/AdminLayout/js/morris_chart/morris.js"></script>
    <script src="~/AdminLayout/js/jquery.sparkline.min.js"></script>
    <script src="~/AdminLayout/js/jquery-jvectormap-world-mill-en.js"></script>
    <!--        <script src="~/AdminLayout/js/jquery.nanoscroller.min.js"></script>-->
    <script type="text/javascript" src="~/AdminLayout/js/custom.js"></script>
    <!-- ChartJS-->
    <script src="~/AdminLayout/js/chartjs/Chart.min.js"></script>

    <!-- Notification -->
    <script src="~/AdminLayout/jquery-growl/javascripts/jquery.growl.js"></script>
    <script src="~/AdminLayout/jquery-growl/javascripts/rainbow.js"></script>

    <!-- Sweet-Alert  -->
    <script src="~/AdminLayout/sweetalert/sweetalert.min.js"></script>
    <script src="~/AdminLayout/sweetalert/jquery.sweet-alert.custom.js"></script>

    <!-- Site-Js  -->
    <script src="~/AdminLayout/Site/site.js"></script>

    @if (nvm != null)
    {
        <script>
            $.growl.notice({
                title: '@nvm.Heading',
                message: '@nvm.Text',
                duration: @nvm.HideAfter,
                style: '@nvm.Icon'
            });
        </script>
    }

    <!--page js-->
    <script>
        //remove query string
        $(document).ready(function () {
            var uri = window.location.toString();
            if (uri.indexOf("?") > 0) {
                var clean_uri = uri.substring(0, uri.indexOf("?"));
                window.history.replaceState({}, document.title, clean_uri);
            }
        });
        $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
            type: 'bar',
            barWidth: 4,
            height: '40px',
            barColor: '#01a8fe',
            negBarColor: '#c6c6c6'
        });
        $(".sparkline8").sparkline([4, 2], {
            type: 'pie',
            sliceColors: ['#01a8fe', '#ddd']
        });
        $(".sparkline9").sparkline([3, 2], {
            type: 'pie',
            sliceColors: ['#01a8fe', '#ddd']
        });
        $(".sparkline10").sparkline([4, 1], {
            type: 'pie',
            sliceColors: ['#01a8fe', '#ddd']
        });
        $(".sparkline11").sparkline([1, 3], {
            type: 'pie',
            sliceColors: ['#01a8fe', '#ddd']
        });
        $(".sparkline12").sparkline([3, 5], {
            type: 'pie',
            sliceColors: ['#01a8fe', '#ddd']
        });
        $(".sparkline13").sparkline([6, 2], {
            type: 'pie',
            sliceColors: ['#01a8fe', '#ddd']
        });

        //moris chart
        $(function () {
            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Example dataset",
                        fillColor: "rgba(16, 161, 236,0.5)",
                        strokeColor: "rgba(16, 161, 236,1)",
                        pointColor: "rgba(16, 161, 236,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(0, 0, 0,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: "Example dataset",
                        fillColor: "rgba(102, 190, 236,0.5)",
                        strokeColor: "rgba(102, 190, 236,0.7)",
                        pointColor: "rgba(102, 190, 236,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(0, 0, 0,1)",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            };
            var lineOptions = {
                scaleShowGridLines: true,
                scaleGridLineColor: "#ddd",
                scaleGridLineWidth: 1,
                bezierCurve: true,
                bezierCurveTension: 0.4,
                pointDot: true,
                pointDotRadius: 4,
                pointDotStrokeWidth: 1,
                pointHitDetectionRadius: 20,
                datasetStroke: true,
                datasetStrokeWidth: 2,
                datasetFill: true,
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            var myNewChart = new Chart(ctx).Line(lineData, lineOptions);


            var polarData = [
                {
                    value: 300,
                    color: "#01a8fe",
                    highlight: "#3d3f4b",
                    label: "App"
                },
                {
                    value: 140,
                    color: "#6ec6f3",
                    highlight: "#3d3f4b",
                    label: "Software"
                },
                {
                    value: 200,
                    color: "#35aeed",
                    highlight: "#3d3f4b",
                    label: "Laptop"
                }
            ];

            var polarOptions = {
                scaleShowLabelBackdrop: true,
                scaleBackdropColor: "rgba(255,255,255,0.75)",
                scaleBeginAtZero: true,
                scaleBackdropPaddingY: 1,
                scaleBackdropPaddingX: 1,
                scaleShowLine: true,
                segmentShowStroke: true,
                segmentStrokeColor: "#fff",
                segmentStrokeWidth: 2,
                animationSteps: 100,
                animationEasing: "easeOutBounce",
                animateRotate: true,
                animateScale: false,
                responsive: true

            };

            var ctx = document.getElementById("polarChart").getContext("2d");
            var myNewChart = new Chart(ctx).PolarArea(polarData, polarOptions);

            var barData = {
                labels: ["Monday", "Tuesday", "Wedneday", "Thrusday", "Friday"],
                datasets: [
                    {
                        label: "My Second dataset",
                        fillColor: "#01a8fe",
                        strokeColor: "#01a8fe",
                        highlightFill: "#6ec6f3",
                        highlightStroke: "#6ec6f3",
                        data: [28, 48, 40, 19, 86]
                    }
                ]
            };

            var barOptions = {
                scaleBeginAtZero: true,
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.01)",
                scaleGridLineWidth: 1,
                barShowStroke: true,
                barStrokeWidth: 1,
                barValueSpacing: 1,
                barDatasetSpacing: 1,
                responsive: true
            };


            var ctx = document.getElementById("barChart").getContext("2d");
            var myNewChart = new Chart(ctx).Bar(barData, barOptions);

            var radarData = {
                labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(16, 161, 236,1)",
                        strokeColor: "rgba(16, 161, 236,1)",
                        pointColor: "rgba(16, 161, 236,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(16, 161, 236,1)",
                        data: [65, 59, 90, 81, 56, 55, 40]
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(102, 190, 236,1)",
                        strokeColor: "rgba(102, 190, 236,1)",
                        pointColor: "rgba(102, 190, 236,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(255,255,255,1)",
                        data: [28, 48, 40, 19, 96, 27, 100]
                    }
                ]
            };

            var radarOptions = {
                scaleShowLine: true,
                angleShowLineOut: true,
                scaleShowLabels: false,
                scaleBeginAtZero: true,
                angleLineColor: "rgba(0,0,0,.1)",
                angleLineWidth: 1,
                pointLabelFontStyle: "normal",
                pointLabelFontSize: 10,
                pointLabelFontColor: "#666",
                pointDot: true,
                pointDotRadius: 3,
                pointDotStrokeWidth: 1,
                pointHitDetectionRadius: 20,
                datasetStroke: true,
                datasetStrokeWidth: 2,
                datasetFill: true,
                responsive: true
            };

            var ctx = document.getElementById("radarChart").getContext("2d");
            var myNewChart = new Chart(ctx).Radar(radarData, radarOptions);

            var data = [{
                label: "Sales 1",
                data: 21,
                color: "#d3d3d3"
            }, {
                label: "Sales 2",
                data: 3,
                color: "#bababa"
            }, {
                label: "Sales 3",
                data: 15,
                color: "#79d2c0"
            }, {
                label: "Sales 4",
                data: 52,
                color: "#01a8fe"
            }];

            var doughnutData = [
                {
                    value: 300,
                    color: "#6cc5f3",
                    highlight: "#01a8fe",
                    label: "Chorme"
                },
                {
                    value: 150,
                    color: "#dedede",
                    highlight: "#01a8fe",
                    label: "Mozilla"
                },
                {
                    value: 130,
                    color: "#43b9f5",
                    highlight: "#01a8fe",
                    label: "Safari"
                }
            ];

            var doughnutOptions = {
                segmentShowStroke: true,
                segmentStrokeColor: "#fff",
                segmentStrokeWidth: 4,
                percentageInnerCutout: 45, // This is 0 for Pie charts
                animationSteps: 100,
                animationEasing: "easeOutBounce",
                animateRotate: true,
                animateScale: false,
                responsive: true
            };


            var ctx = document.getElementById("doughnutChart").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);

            //line chart
            Morris.Line({
                element: 'morris-line-chart',
                data: [{ y: '2006', a: 0, b: 10 },
                { y: '2007', a: 25, b: 35 },
                { y: '2008', a: 30, b: 40 },
                { y: '2009', a: 20, b: 25 },
                { y: '2010', a: 37, b: 40 }],
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['Series A', 'Series B'],
                hideHover: 'auto',
                resize: true,
                lineColors: ['#76c3ea', '#01a8fe']
            });


        });
    </script>
    <script type="text/javascript">

        $('#modalMessage').modal('show');
        setTimeout(function () {
            $("#modalMessage").modal('hide');
        }, 6000);
    </script>
</body>

</html>
