
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var selectedUser = ViewData["selectedUser"] as ApplicationUser;
}
@model SignupViewModel
@inject UserManager<ApplicationUser> _userManager;
@inject OnlineMarketContext _db;


<form class="form-horizontal" asp-action="EditUserConfirm" asp-controller="Account" asp-area="Admin" method="post" enctype="multipart/form-data">
    <div class="col-md-4 margin-b-30">
        <div class="profile-overview">
            <div class="avtar text-center">
                <div class="image-container">
                    <input name="Id" value="@selectedUser.Id" hidden />
                    @{
                        var singleUserImage = selectedUser.UserImage.Where(x => x.Status == true).LastOrDefault();
                    }
                    @if (selectedUser.UserImage.Count > 0)
                    {
                        if (singleUserImage.ImageThumbnail != null)
                        {
                            <img id="avator" alt="" width="120" height="120" class="img-thumbnail" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(singleUserImage.ImageThumbnail)}")" />
                        }
                        else
                        {
                            <img id="avator" width="120" height="120" alt="" class="img-thumbnail" src="~/images/user-profile.png" />
                        }
                    }
                    else
                    {
                        <img id="avator" width="120" height="120" alt="" class="img-thumbnail" src="~/images/user-profile.png" />
                    }
                    <label class="file-upload" for="imgBrowser">
                        <i class="fa fa-upload"></i>
                    </label>
                    <input asp-for="img" name="img" type="file" id="imgBrowser" />
                </div>

                <h3>@($"{selectedUser.FirstName} {selectedUser.LastName}")</h3>
                <hr>
            </div>
            <table class="table profile-detail table-condensed table-hover user-details">
                <thead>
                    <tr>
                        <th colspan="3">اطلاعات کاربری</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>نام کاربری:</td>
                        <td>
                            @selectedUser.UserName
                        </td>
                    </tr>
                    <tr>
                        <td>ایمیل:</td>
                        <td>
                            @if (selectedUser.Email != null)
                            {
                                <a href="mailto:@selectedUser.Email">
                                    @selectedUser.Email
                                </a>
                            }
                            else
                            {
                                <a></a>
                            }
                            <div class="invisible-input">
                                <input asp-for="Email" type="text" value="@selectedUser.Email" />
                                <span class="operational-key-check">
                                    <i class="fa fa-check"></i>
                                </span>
                                <span class="operational-key-times">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </td>
                        <td class="edit-field"><a class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                    </tr>
                    <tr>
                        <td>تلفن:</td>
                        <td class="farsi-num">
                            @if (selectedUser.PhoneNumber != null)
                            {
                                <a href="tel:@selectedUser.PhoneNumber">@selectedUser.PhoneNumber</a>
                            }
                            else
                            {
                                <a></a>
                            }
                            @* invisible input *@
                            <div class="invisible-input">
                                <input asp-for="Phonenumber" type="text" value="@selectedUser.PhoneNumber" />
                                <span class="operational-key-check">
                                    <i class="fa fa-check"></i>
                                </span>
                                <span class="operational-key-times">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </td>
                        <td class="edit-field"><a class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                    </tr>
                    <tr>
                        <td>آخرین ورود</td>
                        <td class="farsi-num">52 دقیقه قبل</td>
                    </tr>
                    @{
                        var definedByUser = await _userManager.FindByIdAsync(selectedUser.DefinedByUserId);
                        if (definedByUser != null)
                        {
                            <tr>
                                <td>ایجاد شده توسط: </td>
                                <td>
                                    @definedByUser.UserName
                                </td>
                            </tr>
                        }
                    }
                    @{
                        var usersRoles = _db.UserRoles.Where(x => x.UserId == selectedUser.Id).ToList();
                        List<string> thisUserRolesName = new List<string>();
                        usersRoles.ForEach(x =>
                        {
                            string roleName = _db.Roles.Where(y => y.Id == x.RoleId).FirstOrDefault().Name;
                            thisUserRolesName.Add(roleName);
                        });
                    }
                    @if (thisUserRolesName.Count > 0)
                    {
                        <tr>
                            <td>سطح دسترسی</td>
                            @foreach (var item in thisUserRolesName)
                            {
                                <td>
                                    <a class="label label-sm @(item.ToLower() == "supervisor" ? "label-success" : item.ToLower() == "admin" ? "label-purple" :"label-warning")">@item</a>
                                    <div class="invisible-input">
                                        @{
                                            var roles = _db.Roles.ToList();
                                        }
                                        <select asp-for="RoleName" class="form-list-beta">
                                            @foreach (var i in roles)
                                            {
                                                if (i.Name == item)
                                                {
                                                    <option selected value="@i.Name">@i.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@i.Name">@i.Name</option>
                                                }
                                            }
                                        </select>
                                        <span class="operational-key-check">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span class="operational-key-times">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </td>
                                <td class="edit-field">
                                    <a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a>
                                </td>
                            }
                        </tr>
                    }
                    <tr>
                        <td>وضعیت</td>
                        <td>
                            <a>
                                @(selectedUser.Status ? "فعال" : "غیر فعال")
                            </a>
                            <div class="invisible-input">
                                <select asp-for="Status" class="form-list">
                                    <option value="true" xvalue="فعال">فعال</option>
                                    <option value="false" xvalue="غیر فعال">غیر فعال</option>
                                </select>
                                <span class="operational-key-check">
                                    <i class="fa fa-check"></i>
                                </span>
                                <span class="operational-key-times">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </td>
                        <td class="edit-field"><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                    </tr>
                    <tr>
                        <td>کاربر</td>
                        <td>
                            <a>
                                @(selectedUser.SpecialUser ? "ویژه" : "عادی")
                            </a>
                            <div class="invisible-input">
                                <select asp-for="Specialuser" class="form-list">
                                    <option value="false" xvalue="عادی">عادی</option>
                                    <option value="true" xvalue="ویژه">ویژه</option>
                                </select>
                                <span class="operational-key-check">
                                    <i class="fa fa-check"></i>
                                </span>
                                <span class="operational-key-times">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </td>
                        <td class="edit-field"><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                    </tr>
                    <tr>
                        <td>تاریخ ثبت</td>
                        <td class="farsi-num">@CustomizeCalendar.GregorianToPersian(selectedUser.RegisteredDateTime)</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-5 margin-b-30">
        <div class="profile-edit">
            @*<form class="form-horizontal" method="get">*@
            <h4 class="mb-xlg">اطلاعات شخصی</h4>
            <fieldset>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="profileFirstName">نام</label>
                    <div class="col-md-8">
                        <input type="text" asp-for="Firstname" value="@selectedUser.FirstName" class="form-control" id="profileFirstName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="profileLastName">نام خانوادگی</label>
                    <div class="col-md-8">
                        <input type="text" asp-for="Lastname" value="@selectedUser.LastName" class="form-control" id="profileLastName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="profileNat">کد ملی</label>
                    <div class="col-md-8">
                        <input type="text" asp-for="Nationalcode" value="@selectedUser.NationalCode" class="form-control" id="profileNat">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="profileGen">جنسیت</label>
                    <div class="col-md-8">
                        <select asp-for="Gender">
                            @if (selectedUser.Gendre == 1)
                            {
                                <option selected value="true">آقا</option>
                                <option value="false">خانم</option>
                                <option value="">تعیین نشده</option>
                            }
                            else if (selectedUser.Gendre == 2)
                            {
                                <option value="true">آقا</option>
                                <option selected value="false">خانم</option>
                                <option value="">تعیین نشده</option>
                            }
                            else
                            {
                                <option value="true">آقا</option>
                                <option value="false">خانم</option>
                                <option selected value="">تعیین نشده</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="pdpBig">تاریخ تولد</label>
                    <div class="col-md-8">
                        <input type="text" asp-for="Dateofbirth" value="@CustomizeCalendar.GregorianToPersian(selectedUser.DateOfBirth ?? DateTime.Now)" class="form-control" id="pdpBig">
                    </div>
                </div>
            </fieldset>
            <hr class="dotted tall">
            <h4 class="mb-xlg">توضیحات</h4>
            <fieldset>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="profileBio">بیوگرافی</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="3" id="profileBio"></textarea>
                    </div>
                </div>

            </fieldset>

            <h4 class="mb-xlg">تغییر کلمه عبور</h4>
            <fieldset class="mb-xl">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="profileNewPassword">کلمه عبور قدیمی</label>
                    <div class="col-md-8">
                        <input type="password" asp-for="CurrentPassword" class="form-control" id="profileCurrentPassword">
                        <span asp-validation-for="CurrentPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="profileNewPassword">کلمه عبور جدید</label>
                    <div class="col-md-8">
                        <input asp-for="NewPassword" type="password" class="form-control" id="profileNewPassword">
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="profileNewPasswordRepeat">تکرار کلمه عبور جدید</label>
                    <div class="col-md-8">
                        <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="profileNewPasswordRepeat">
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
            </fieldset>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-primary">اعمال تغییرات</button>
                        <button type="reset" class="btn btn-default" id="btnCancel">صرف نظر</button>
                    </div>
                </div>
            </div>

            @*</form>*@
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/persian_datepicker/js/persianDatepicker.min.js"></script>
<script>
    $("#pdpBig").persianDatepicker({
        cellWidth: 48,
        cellHeight: 30,
        fontSize: 15
    });
    //image preview
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#avator').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(function () {
        $("#imgBrowser").change(function (e) {
            readURL(this);
        })
    })

    //show and hide input elements
    $("td.edit-field").click(function () {
        $(this).siblings("td").children(".invisible-input").toggleClass("visible-input")
        $(this).siblings("td").children(".invisible-input").val($.trim($(this).siblings("td").children("a").html()));
    })
    $(".invisible-input,td.edit-field, .form-list").click(function (e) {
        e.stopPropagation();
        return false;
    });
    $(document).click(function () {
        $(".invisible-input").removeClass("visible-input")
    });
    $(".operational-key-times").click(function () {
        $(".invisible-input").removeClass("visible-input")
        $(this).siblings("input").val($.trim($(this).parent().siblings("a").html()))
    });
    $(".operational-key-check").click(function () {
        $(this).parent().siblings("a").html($(this).siblings("input").val())
        $(".invisible-input").removeClass("visible-input")
    })
    $(".form-list").change(function () {
        $(this).parent().siblings("a").html($('option:selected', this).attr('xvalue'));
        $(".invisible-input").removeClass("visible-input")
    })
    $(".form-list-beta").change(function () {
        $(this).parent().siblings("a").html($(this).val());
        $(".invisible-input").removeClass("visible-input")
    })
</script>