
@{
    ViewData["Title"] = "لیست محصولات";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var pageNumber = (int)ViewData["pagenumber"];
    var pageSize = (int)ViewData["pagesize"];
    var totalRecords = (int)ViewData["totalRecords"];
    var searchedName = (string)ViewData["searchedName"];
    var FilteredCategory = (string)ViewData["FilteredCategory"];
    var FilteredCategoryId = (int)ViewData["FilteredCategoryId"];
    var sortBy = (int)ViewData["sortBy"];
    var IsFilterExist = (bool)ViewData["IsFilterExist"];
    var dbCategory = ViewData["dbCategory"] as List<Category>;

}
@model List<ProductAbstract>
@*@await Html.PartialAsync("~/Views/Shared/Header/_PartialPageBanner.cshtml", "لیست محصولات");*@
@*@await Html.PartialAsync("~/Views/Shared/Header/_PartialPageBanner.cshtml", "لیست محصولات");*@
@await Html.PartialAsync("~/Views/Shared/Header/_PartialPageBanner.cshtml",
    new PageBannerViewModel {
        Title = "لیست محصولات",
        PageName = "فروشگاه",

    })

<!-- Shop Section Start -->
<div id="MainDiv" class="shop-section section pt-60 pt-lg-40 pt-md-30 pt-sm-20 pt-xs-30  pb-70 pb-lg-50 pb-md-40 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop-area">
                    <div class="row">
                        <div class="col-12">
                            <!-- Grid & List View Start -->

                            <div class="shop-topbar-wrapper d-flex justify-content-between align-items-center rtl-class">
                                <div class="grid-list-option d-flex">
                                    <ul class="nav ml-3">
                                        <li>
                                            <a class="active show" data-toggle="tab" href="#grid"><i class="fa fa-th"></i></a>
                                        </li>
                                        @*<li>
                                                <a data-toggle="tab" href="#list" class=""><i class="fa fa-th-list"></i></a>
                                            </li>*@
                                    </ul>
                                    @if (Model.Count > 0)
                                    {
                                        <p>
                                            نمایش محصولات -  @(pageSize * (pageNumber - 1) + 1) تا @Math.Min((pageNumber * pageSize), totalRecords)
                                            (@totalRecords کالا)
                                        </p>
                                    }
                                </div>
                                <!--Toolbar Short Area Start-->
                                <div class="toolbar-short-area d-md-flex align-items-center rtl-class">
                                    <div class="toolbar-shorter rtl-class ">
                                        <label>مرتب سازی بر اساس:</label>
                                        <select id="sortSelect" name="sortBy" class="wide rtl-class mr-3">
                                            <option value="-1">انتخاب کنید</option>
                                            <option value="1">جدیدترین</option>
                                            <option value="2">ارزان ترین</option>
                                            <option value="3">گران ترین</option>
                                            <option value="4">بر اساس نام</option>
                                        </select>
                                    </div>
                                </div>
                                <!--Toolbar Short Area End-->
                            </div>
                            <!-- Grid & List View End -->
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-3 order-lg-2 order-2 rtl-class">
                            <!-- Single Sidebar Start  -->
                            @if (IsFilterExist)
                            {
                                /**/
                                <div class="common-sidebar-widget rtl-class">
                                    <h3 class="sidebar-title"> فیلترهای اعمال شده  </h3>
                                    <div style="color:orangered">
                                        <ul>
                                            @if (searchedName != null && searchedName.ToString() != "")
                                            {
                                                <li>
                                                    <a href="#" class="title mr-3 ">
                                                        @searchedName
                                                    </a>
                                                    <a asp-controller="Product" asp-action="search"
                                                       asp-route-name="" asp-route-categoryId=@FilteredCategoryId class="remove-compare">
                                                        <i class="fa fa-close"></i>
                                                    </a>

                                                </li>
                                            }
                                            @if (FilteredCategory != null)
                                            {
                                                <li>
                                                    <a href="#" class="title mr-3 ">
                                                        @FilteredCategory
                                                    </a>
                                                    <a asp-controller="Product" asp-action="search"
                                                       asp-route-name=@searchedName asp-route-categoryId="-1" class="remove-compare">
                                                        <i class="fa fa-close"></i>
                                                    </a>

                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }

                            <!-- Single Sidebar End  -->
                            <!-- Single Sidebar Start  -->
                            <div class="common-sidebar-widget">
                                <h3 class="sidebar-title">جست و جو در محصولات</h3>
                                <div class="sidebar-search">
                                    <form asp-action="Search" asp-controller="Product">
                                        <input name="name" type="text" placeholder="مثال: درب نیکا">
                                        <input name="categoryId" hidden="hidden" value=@FilteredCategoryId>
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- Single Sidebar End  -->
                            <!-- Single Sidebar Start  -->
                            <div class="common-sidebar-widget rtl-class">
                                <h3 class="sidebar-title">دسته بندی محصولات</h3>
                                <ul class="sidebar-list">
                                    @if (dbCategory != null)
                                    {
                                        foreach (var item in dbCategory)
                                        {
                                            <li>
                                                <a asp-controller="Product" asp-action="Search"
                                                   asp-route-categoryId=@item.Id asp-route-name=@searchedName>
                                                    <i class="fa fa-plus ml-2"></i>
                                                    @item.Name
                                                    @*<span class="count">(1)</span>*@
                                                </a>
                                            </li>

                                        }
                                    }

                                </ul>
                            </div>
                            <!-- Single Sidebar End  -->
                            <!-- Single Sidebar Start  -->
                            @*<div class="common-sidebar-widget rtl-class">
                                    <h3 class="sidebar-title">محدوده قیمت</h3>
                                    <div class="sidebar-price">
                                        <div id="price-range" class="mb-20"></div>
                                        <button type="button" class="btn">اعمال فیلتر</button>
                                        <input type="text" id="price-amount" class="price-amount" readonly>
                                    </div>
                                </div>*@
                            <!-- Single Sidebar Start  -->

                        </div>
                        <div class="col-lg-9 order-lg-1 order-1 rtl-class">
                            <div class="row">
                                <div class="col-12">
                                    <div class="shop-product">
                                        <div id="myTabContent-2" class="tab-content">
                                            <div id="grid" class="tab-pane fade active show">
                                                <div class="product-grid-view">
                                                    <div class="row">
                                                        @if (Model.Count > 0)
                                                        {
                                                            foreach (var item in Model)
                                                            {
                                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                                    <!--  Single Grid product Start -->
                                                                    <div class="single-grid-product mb-40">
                                                                        <div class="product-image">
                                                                            <div class="product-label">
                                                                                @*<span>-21%</span>*@
                                                                            </div>
                                                                            <a href="/Product/@item.Id/@Tools.LinkCorrection(item.Name)">
                                                                                @try
                                                                                {
                                                                                    if (item.ProductImage.Count > 0)
                                                                                    {
                                                                                        var mainImage = item.ProductImage.Where(x => x.IsMainImage == true).FirstOrDefault();
                                                                                        if (mainImage != null)
                                                                                        {
                                                                                            <img src="@mainImage.ImagePath.Replace("wwwroot","")" class="img-fluid" alt="@item.Name">
                                                                                        }
                                                                                    }
                                                                                }
                                                                                catch (Exception ex)
                                                                                {
                                                                                    throw ex;
                                                                                }
                                                                                @try
                                                                                {
                                                                                    if (item.ProductImage.Count > 0)
                                                                                    {
                                                                                        var OneOfTheRestImages = item.ProductImage.Where(x => x.Status == true && x.IsMainImage == false).FirstOrDefault();
                                                                                        if (OneOfTheRestImages != null)
                                                                                        {
                                                                                            <img src="@OneOfTheRestImages.ImagePath.Replace("wwwroot","")" class="img-fluid" alt="@item.Name">
                                                                                        }
                                                                                    }
                                                                                }
                                                                                catch (Exception)
                                                                                {
                                                                                    //  throw ex;
                                                                                }
                                                                            </a>

                                                                            <div class="product-action">
                                                                                <ul>
                                                                                    <li>
                                                                                        <a asp-controller="Invoice" asp-action="AddToCart"
                                                                                           asp-route-productFeatureId="@item.ProductFeature.Where(x => x.ProductAbstractId == item.Id).FirstOrDefault().Id"
                                                                                           title="اضافه به سبد خرید"><i class="fa fa-cart-plus"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#quick-view-modal-container" data-toggle="modal" title="مشاهده سریع کالا"><i class="fa fa-eye"></i></a></li>
                                                                                    <li><a href="/Product/@item.Id/@Tools.LinkCorrection(item.Name)" title="افزودن به علاقه مندی ها"><i class="fa fa-heart-o"></i></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                        <div class="product-content">
                                                                            <h3 class="title"> <a href="/Product/@item.Id/@Tools.LinkCorrection(item.Name)">@item.Name</a></h3>
                                                                            <p class="product-price">
                                                                                @if (item.BasePrice != null)
                                                                                {
                                                                                    <span class="product-price discounted-price">
                                                                                        <span style="font-size:0.01px">ا</span>
                                                                                        <span class="local-price farsi-num">
                                                                                            @($"{double.Parse(item.BasePrice.ToString().Split(',')[0])} ")
                                                                                        </span>
                                                                                        <span style="font-size:14px">تومان</span>
                                                                                    </span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span class="discounted-price">تماس بگیرید</span>
                                                                                }
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <!--  Single Grid product End -->
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="col-12 text-center">
                                                                <h3> محصولی یافت نشد</h3>
                                                            </div>

                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Page navigation start -->
                            @if (Model.Count > 0)
                            {
                                <div class="row mb-30 mb-sm-40 mb-xs-30 mx-auto">
                                    <div class="pagination-box hidden-mb-45 " style="float: none;margin: 0 auto;">
                                        <nav aria-label="Page navigation example">
                                            <div class="paging farsi-num">
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            }
                            <!-- Page navigation end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="searchedNameValue" value="@searchedName" hidden="hidden" />
<!-- Shop Section End -->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        //Localize Prices
        $(".local-price").each(function () {
            $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"))
        })
    })
</script>
@if (searchedName == null)
{
    searchedName = "";
}

<script>
    $('#sortSelect option[value=@sortBy]').attr('selected', 'selected');
    var DefSortId = $(sortSelect).find(":selected").val();
    //pagging
        $(function () {
            $(".paging").pagination({
                items: @totalRecords,
                itemsOnPage: @pageSize,
                displayedPages: 3,
                cssStyle: 'light-theme',
                currentPage: @pageNumber,
                hrefTextPrefix: `Search?name=@searchedName&sortBy=${DefSortId}&categoryId=@FilteredCategoryId&pageNumber=`,
                prevText: 'قبلی',
                nextText: 'بعدی'
            });
    });

    //sorting
     
    var _searchedName = $(searchedNameValue).val();
    $(document).ready(function () {
        $(sortSelect).change(function () {
            var SelectedortId = $(this).find(":selected").val();
            var _dir = `/product/Search?name=${_searchedName}&sortBy=${SelectedortId}&categoryId=@FilteredCategoryId&pageNumber=`;
            window.location.href = _dir;
        });
    });
</script>